<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Instance Id</th>
        <th>Location</th>
        <th>State</th>
        <th>At</th>
        <th>Schedule</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{name}}</td>
        <td>{{instance_id}}</td>
        <td>{{cloud_name}}:{{location_name}}</td>
        <td>{{state}}</td>
        <td>{{state_at}}</td>
        <td>{{schedule_description}}</td>
        <td>Stop/Start</td>
    </tr>
    </tbody>
</table>