<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Instance Id</th>
        <th>Location</th>
        <th>State</th>
        <th>At</th>
        <th>Schedule</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {{#each instances}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.instance_id}}</td>
        <td>{{this.cloud_name}}:{{this.location_name}}</td>
        <td>{{this.state}}</td>
        <td>{{this.state_at}}</td>
        <td>{{this.schedule_description}}</td>
        <td>Stop/Start</td>
    </tr>
    {{/each}}
    </tbody>
</table>