<% if (@credentials.nil? or @credentials.empty?) %>
    <%= link_to 'Save credentials', controller: 'credentials', action: 'new' %>
<% else %>
    <table>
      <tr>
        <th>Name</th>
        <th>Access Key ID</th>
        <th>Secret Access Key</th>
      </tr>

      <% @credentials.each do |credential| %>
          <tr>
            <td><%= credential.name %></td>
            <td><%= credential.access_key_id %></td>
            <td>*masked*</td>
          </tr>
      <% end %>

    </table>
<% end %>